<main class="page">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create Task</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput type="text" formControlName="description">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Create</button>
        <button mat-button type="button" routerLink="/dashboard">Cancel</button>
      </form>
    </mat-card-content>
  </mat-card>
</main>
